<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Gerador</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "lowpro" %>
	
	<%= yield(:header)%>
</head>
<body>

	<div class="left_div">
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Campos", fields_path %></li>
			<li><%= link_to "Geradores", generators_path %></li>
		</ul>
	</div>

	<div class="body_div">
		<p style="color: green"><%= flash[:notice] %></p>

		<%= yield %>
	</div>


</body>
</html>
